infrastructure/statemachine/workflow.asl.json
{
  "Comment": "AI Techne Academy - Video Processing Workflow",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Pass",
      "Comment": "Validate and prepare input data",
      "Parameters": {
        "execution_id.$": "$$.Execution.Name",
        "input.$": "$",
        "video_key.$": "$.detail.object.key",
        "bucket_name.$": "$.detail.bucket.name",
        "video_size.$": "$.detail.object.size",
        "timestamp.$": "$.time"
      },
      "Next": "StartTranscription"
    },
    
    "StartTranscription": {
      "Type": "Task",
      "Comment": "Invoke Lambda to start AWS Transcribe job",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${TranscribeStarterFunctionArn}",
        "Payload": {
          "execution_id.$": "$.execution_id",
          "video_s3_uri.$": "States.Format('s3://{}/{}', $.bucket_name, $.video_key)",
          "video_key.$": "$.video_key",
          "bucket_name.$": "$.bucket_name",
          "video_size.$": "$.video_size"
        }
      },
      "ResultPath": "$.transcribe_result",
      "ResultSelector": {
        "job_name.$": "$.Payload.job_name",
        "status.$": "$.Payload.status",
        "transcription_uri.$": "$.Payload.transcription_uri"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "TranscriptionFailed"
        }
      ],
      "Next": "WaitForTranscription"
    },
    
    "WaitForTranscription": {
      "Type": "Wait",
      "Comment": "Wait 60 seconds before checking transcription status",
      "Seconds": 60,
      "Next": "CheckTranscriptionStatus"
    },
    
    "CheckTranscriptionStatus": {
      "Type": "Task",
      "Comment": "Check AWS Transcribe job status",
      "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob",
      "Parameters": {
        "TranscriptionJobName.$": "$.transcribe_result.job_name"
      },
      "ResultPath": "$.transcribe_status",
      "ResultSelector": {
        "status.$": "$.TranscriptionJob.TranscriptionJobStatus",
        "transcript_uri.$": "$.TranscriptionJob.Transcript.TranscriptFileUri",
        "failure_reason.$": "$.TranscriptionJob.FailureReason"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "Transcribe.ThrottlingException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 5,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "TranscriptionFailed"
        }
      ],
      "Next": "IsTranscriptionComplete"
    },
    
    "IsTranscriptionComplete": {
      "Type": "Choice",
      "Comment": "Check if transcription is complete",
      "Choices": [
        {
          "Variable": "$.transcribe_status.status",
          "StringEquals": "COMPLETED",
          "Next": "PrepareProcessorInput"
        },
        {
          "Variable": "$.transcribe_status.status",
          "StringEquals": "FAILED",
          "Next": "TranscriptionFailed"
        },
        {
          "Or": [
            {
              "Variable": "$.transcribe_status.status",
              "StringEquals": "IN_PROGRESS"
            },
            {
              "Variable": "$.transcribe_status.status",
              "StringEquals": "QUEUED"
            }
          ],
          "Next": "WaitForTranscription"
        }
      ],
      "Default": "TranscriptionFailed"
    },
    
    "PrepareProcessorInput": {
      "Type": "Pass",
      "Comment": "Prepare input for ECS processor",
      "Parameters": {
        "execution_id.$": "$.execution_id",
        "video_s3_uri.$": "States.Format('s3://{}/{}', $.bucket_name, $.video_key)",
        "video_key.$": "$.video_key",
        "transcription_s3_uri.$": "$.transcribe_status.transcript_uri",
        "video_metadata": {
          "size.$": "$.video_size",
          "timestamp.$": "$.timestamp"
        }
      },
      "Next": "ProcessWithLLM"
    },
    
    "ProcessWithLLM": {
      "Type": "Task",
      "Comment": "Run ECS Fargate task to process transcription with LLM",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "Cluster": "${ECSClusterArn}",
        "TaskDefinition": "${ECSTaskDefinitionArn}",
        "LaunchType": "FARGATE",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["${SubnetId}"],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "processor",
              "Environment": [
                {
                  "Name": "EXECUTION_ID",
                  "Value.$": "$.execution_id"
                },
                {
                  "Name": "TRANSCRIPTION_S3_URI",
                  "Value.$": "$.transcription_s3_uri"
                },
                {
                  "Name": "VIDEO_S3_URI",
                  "Value.$": "$.video_s3_uri"
                },
                {
                  "Name": "VIDEO_KEY",
                  "Value.$": "$.video_key"
                }
              ]
            }
          ]
        }
      },
      "ResultPath": "$.processor_result",
      "TimeoutSeconds": 14400,
      "HeartbeatSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2
        },
        {
          "ErrorEquals": [
            "ECS.AmazonECSException"
          ],
          "IntervalSeconds": 10,
          "MaxAttempts": 3,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.Timeout"],
          "ResultPath": "$.error",
          "Next": "ProcessingTimeout"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ProcessingFailed"
        }
      ],
      "Next": "FinalizeSuccess"
    },
    
    "FinalizeSuccess": {
      "Type": "Task",
      "Comment": "Finalize successful execution",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FinalizerFunctionArn}",
        "Payload": {
          "execution_id.$": "$.execution_id",
          "status": "COMPLETED",
          "video_key.$": "$.video_key",
          "transcription_uri.$": "$.transcription_s3_uri",
          "processor_result.$": "$.processor_result",
          "metadata": {
            "video_size.$": "$.video_metadata.size",
            "timestamp.$": "$.video_metadata.timestamp"
          }
        }
      },
      "ResultPath": "$.finalizer_result",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "Lambda.ServiceException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "SuccessState"
    },
    
    "SuccessState": {
      "Type": "Succeed",
      "Comment": "Workflow completed successfully"
    },
    
    "TranscriptionFailed": {
      "Type": "Task",
      "Comment": "Handle transcription failure",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FinalizerFunctionArn}",
        "Payload": {
          "execution_id.$": "$.execution_id",
          "status": "FAILED",
          "stage": "TRANSCRIPTION",
          "video_key.$": "$.video_key",
          "error.$": "$.error",
          "error_type": "TranscriptionError",
          "failure_reason.$": "$.transcribe_status.failure_reason"
        }
      },
      "ResultPath": "$.finalizer_result",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Next": "FailureState"
    },
    
    "ProcessingTimeout": {
      "Type": "Task",
      "Comment": "Handle processing timeout",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FinalizerFunctionArn}",
        "Payload": {
          "execution_id.$": "$.execution_id",
          "status": "FAILED",
          "stage": "PROCESSING",
          "video_key.$": "$.video_key",
          "transcription_uri.$": "$.transcription_s3_uri",
          "error.$": "$.error",
          "error_type": "TimeoutError",
          "message": "ECS task exceeded maximum execution time (4 hours)"
        }
      },
      "ResultPath": "$.finalizer_result",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Next": "FailureState"
    },
    
    "ProcessingFailed": {
      "Type": "Task",
      "Comment": "Handle processing failure",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${FinalizerFunctionArn}",
        "Payload": {
          "execution_id.$": "$.execution_id",
          "status": "FAILED",
          "stage": "PROCESSING",
          "video_key.$": "$.video_key",
          "transcription_uri.$": "$.transcription_s3_uri",
          "error.$": "$.error",
          "error_type": "ProcessingError"
        }
      },
      "ResultPath": "$.finalizer_result",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Next": "FailureState"
    },
    
    "FailureState": {
      "Type": "Fail",
      "Comment": "Workflow failed",
      "Cause": "Video processing failed",
      "Error": "ProcessingError"
    }
  }
}